header {
    font-family: Verdana;
    font-weight: normal;
    font-size: 40px;
    color: white;
    text-align: center;
}
nav {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}
body {
    background-color: black;
}
#video {
    text-align: center;
}
h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    text-align: center;
    color: white;
}
.section {
    font-family: verdana;
    font-size: 21px;
    color: gray;
    text-align: center;
}
#image {
    text-align: center;
}