header {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
nav {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}
body {
    background-color: black;
}
#video {
    text-align: center;
}